<html>
    <head>
        <title>Placements Notification</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="icon" type="image/ico" href="pics/email.png"/>
        <link rel="stylesheet" href="{{ url_for('static' ,filename='index.css' ) }}">
    </head>
    <body>
        <h1 id="error-heading">Oops !</h1>

        <div class="errorContent">
            There seems to be some error in registering.
            <div id="stack-trace">
                <h4>Enter a Valid Registration number <h4>
            </div>
        </div>

        <h4 id="contact-message">For any queries/problem mail us at : <strong>placementsnotify.2020@gmail.com</strong></h4>
    </body>
</html>