<html>
    <head>
        <title>Placements Notification</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="icon" type="image/ico" href="pics/email.png"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    </head>
    <body>
        <h2 id="thankyou-heading">THANK YOU !</h2>
        <h3 id="chill-message"></h3>

        <div class="errorContent">
            We hope you are happy with our product. It will be great to hear from you. Your feedback will make us happy and will 
            help us improve.</br> </br>If there is any other problem which you want us to solve, we will be more than happy to do that. 
            Email us your idea/problem at <strong>ait.opensourceclub@gmail.com</strong> .  
        </div>
    
            <h4 id="contact-message">For any queries/problem mail us at : <strong>placementsnotify.2020@gmail.com</strong></h4>
    </body>
</html>